.lw { font-size: 50px; text-align: center; background-color: rgb(66, 15, 84); font-font-family: sans-serif;}
p7 {color: darkgoldenrod;}
p8 {text-align: left; font-size: larger;}
p1 {color:blue}
p2 {color:green}
p3 {color:red}
p4 {color:darkorange}
p5 {color:purple}
p6 {color:gold}
p9 {background-color: mediumpurple;}
h1 {color:cornflowerblue;}